{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Portfolio Template Demo</title>
    <meta name="description" content="Demo of Material design portfolio  by TemplateFlip.com."/>
<link href="{%static 'css/css.css' %}" rel="stylesheet">
<link href="{%static 'css/main.css' %}" rel="stylesheet">
<link href="{%static 'css/icon.css' %}" rel="stylesheet">
<link href="{%static 'css/material.indigo-pink.min.css' %}" rel="stylesheet">
<link href="{%static 'css/material.indigo-pink.min.css' %}" rel="stylesheet">
</head>
   
  