{% include "header_tag.html" %}

{% include "js_script.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Customer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% include "header_menu.html" %}

    <div id="wrapper">

        <!-- Sidebar -->
        {% include "side_menu.html" %}
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
         
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                <div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Customer  View</h3>
						</div>
						
						<div class="panel-body">
							
						<div class="row">
						<table class="table">
							<tr>
								<th>S.No</th>
								<th>Name</th>
								<th>Mobile No</th>
								<th>Email Id</th>
								<th>Address</th>

							</tr>

						</table>
							

						</div>
						</div>

						</div>
        </div>

    </div>
 
</body>
</html>
